@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


.menu {
  list-style-type: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  gap: 40px !important;
}

.hero {
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

.custom-heading {
  font-family: 'Poppins', sans-serif;
  /* font-size: 46px !important; */
  font-weight: 300;
}

.custom-paragraph {
  font-family: 'Poppins', sans-serif;
  /* font-size: 24px !important; */
  font-weight: 400;
}

.d-flex {
  gap: 5rem;
}

.font-fam {
  font-family: 'Poppins', sans-serif;
}

.background-font {
  font-size: 72px;
}

.background-btn {
  border: none;
  text-decoration: underline;
  border-radius: 35px;
  font-weight: 600;
  padding: 15px 30px 15px 30px;
}

.list-head {
  color: #98002E;
  font-size: 24px;
  font-weight: bold;
}

.font-fam a {
  text-decoration: none;
  color: #454545;
}

.foot-others {
  max-width: 45%;
}

.foot-background {
  height: 266px;
  margin: auto;
  justify-content: center;
  gap: 200px;
  background-color: #F2F2F2;
}

.foot-textarea {
  max-width: 30%;
}

.foot-social {
  gap: 40px;
}

.pt-2 img {
  cursor: pointer;
}


.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.animated-bar {
  display: none;
  cursor: pointer;
}

.feader-bottom {
  margin-right: 50rem;
}

.S1 {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin: auto;
  gap: 4rem;
}

.parentS2{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.Heading{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color:#454545;
}
.Heading1{
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  font-size: 62px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color:#454545;
}
.makekoenHeadingAndImg{
  padding: 70px;
}
.paragraph{
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color:#454545;
  padding-top: 40px;
}
.Heading2{
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  text-align: center;
  font-size: 112px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color:#98002E;
  line-height: 30px;
  letter-spacing: 3px;
}

.jersey-shore{
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
@media(max-width:1300px) {


  .nav {
    display: flex;
    justify-content: center;
    gap: 10px !important;
    flex-wrap: wrap;
  }

  .animated-bar {
    display: none;
  }

  /* .show-menu .menu {
    display: block;
    flex-direction: column;
  } */
  .foot-others {
    max-width: 100%;
  }

  .header-bottom {
    margin-top: 3rem !important;
  }

  .header-bottom {
    margin-right: 25rem;
  }
}

@media(max-width:840px) {
  .menu-item {
    display: none;
  }

  .animated-bar {
    display: block;
  }

  .show-menu .menu {
    display: block;
    flex-direction: column;
  }

  .background-font {
    font-size: 40px;
  }

  .foot-others {
    max-width: 80%;
  }

  .foot-background {
    height: 400px;
    gap: 50px;
  }

  .foot-social img {
    margin: auto;
  }

  .d-flex {
    gap: 1.5rem;
  }

  .header-bottom {
    margin-top: 8rem !important;
    margin-right: 20rem;
  }
}


@media (max-width: 640px) {
  .menu-item {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .animated-bar {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .show-menu .menu {
    display: flex;

  }

  .head-btn {
    display: none;
  }

  .background-font {
    font-size: 26px;
  }

  .imagevideo {
    width: 340px;
    height: auto;
  }

  .imagedownvideo {
    width: 300px;
    height: auto;
  }

  .foot-others {
    max-width: 80%;
  }

  .foot-background {
    height: 400px;
    gap: 50px;
  }

  .foot-social img {
    margin: auto;
  }

  .d-flex {
    gap: 1.5rem;
  }

  .header-bottom {
    margin-top: 8rem !important;
    margin-right: 2rem;
  }

}